* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* header Code hai */

.Rooms {
    margin: auto;
    text-align: center;
    background-color: rgb(197, 26, 54);
    color: white;
  
    padding: 50px;
}
.Rooms h1{
  font-family: "Inter";
}

/* Text area 1 Code */


.Text-1 textarea {
    width: 600px;
    margin: auto;
    /* padding: 10px; */
    resize: none;
    box-sizing: border-box;
    border-radius: 8px;
    outline: none;
    border: 1px solid lightgray;
    margin-top: 50px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(123, 142, 85);
    font-family: "Inter";
    cursor: pointer;

}


::placeholder {
    font-size: large;
    color: white;
    font-weight: 800;
}

/* Text area 2 Code */
.Text-2 textarea {
    width: 600px;
    margin: auto;
    resize: none;
    box-sizing: border-box;
    border-radius: 8px;
    outline: none;
    border: 1px solid lightgray;
    margin-top: 50px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(92, 107, 63);
    font-family: "Inter";
    cursor: pointer;

}

::placeholder {
    font-size: large;
    color: white;
    font-weight: 800;
}

.Dev{
  
  padding-top: 20px;
  padding-left: 15%;
  font-size: 40px;
  font-family: "Inter";
  font-weight: 700;
  color: rgb(75, 18, 7);
}



p {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
  background-color: rgb(180, 77, 77);
}



textarea[disabled] {
    background-color: #f0f0f0;
    color: white#3d2222;
    cursor: not-allowed;
}

.Timer {
    font-weight: bold;
    color: white;
    margin-top: 5px;
}
textarea[disabled] {
    background-color: #3c3939;
}

   